<h1>New Link</h1>

<%= render 'form', link: @link %>

<%= link_to 'Back', links_path %>

<% @link.each do |link| %>
  <% if link.user_id == current_user %>
    <%= link_to('Edit', edit_link_path(link)) %>
    <%= link_to('Destroy', links_path(link), method: :delete, data: { confirm: 'Are you sure?' }) %>
  <% end %>
<% end %>
